# Only Python modules and packages are included in the package by default.
# To include additional files, we’ll declare them here

include README.rst
recursive-include my_django_app/static *
recursive-include my_django_app/templates *

# Exclude the django_project because we need this only for development
prune django_project